{% block subject -%}
    {{ brand.email.passwordexpired.subject }}
{%- endblock %}

{% block body_text %}
    Dear {{ firstname }},

    Your password for you Canopy Store account has expired.

    Please click on the link below or copy and paste it into your internet browser.

    Follow the on screen instructions to reset the password.

    {{ brand.email.resetpasswordurl }}?email={{ email }}

    {{ brand.email.text_signature|raw }}
{% endblock %}

{% block body_html %}
    {% embed 'CanopyMailBundle:Mail:layout.html.twig' %}

        {% block title %}
            {{ brand.email.passwordexpired.subject }}
        {% endblock %}

        {% block body %}
            Dear {{ firstname }},
            <br /><br />
            Your password for you Canopy Store account has expired.
            <br /><br />
            Please click on the link below or copy and paste it into your internet browser.
            <br /><br />
            Follow the on screen instructions to reset the password.
            <br /><br />
            <a href="{{ brand.email.resetpasswordurl }}?email={{ email }}">{{ brand.email.resetpasswordurl }}</a>
            <br /><br />
        {% endblock %}

        {% block footer %}
            {{ brand.email.html_signature|raw }}
        {% endblock %}

        {% block logo %}
            <img src="{{ brand.email.logo }}" alt="{{ brand.email.company }}" />
        {% endblock %}

    {% endembed %}
{% endblock %}
