{% block subject -%}
    {{ brand.email.resetpassword.subject }}
{%- endblock %}

{% block body_text %}
    Dear {{ firstname }},

    Your request to reset the password for your Canopy Store account has been received.

    Please click on the link below or copy and paste it into your internet browser.

    Follow the on screen instructions to enter a new password.

    {{ reset_url }}.

    {{ brand.email.text_signature|raw }}
{% endblock %}

{% block body_html %}
    {% embed 'CanopyMailBundle:Mail:layout.html.twig' %}

        {% block title %}
            {{ brand.email.resetpassword.subject }}
        {% endblock %}

        {% block body %}
            Dear {{ firstname }},
            <br /><br />
            Your request to reset the password for your Canopy Store account has been received.
            <br /><br />
            Please click on the link below or copy and paste it into your internet browser.
            <br /><br />
            Follow the on screen instructions to enter a new password.
            <br /><br />
            <a href="{{ reset_url }}">{{ reset_url }}</a>
            <br /><br />
        {% endblock %}

        {% block footer %}
            {{ brand.email.html_signature|raw }}
        {% endblock %}

        {% block logo %}
            <img src="{{ brand.email.logo }}" alt="{{ brand.email.company }}" />
        {% endblock %}

    {% endembed %}
{% endblock %}
